<div class="test">
  <mat-accordion multi="false">
    <!-- hideToggle 代表隱藏Toggle符號 -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          第一個手風琴項目
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>這是第一個手風琴項目的內容</p>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          第二個手風琴項目
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>這是第二個手風琴項目的內容</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>


