  <article>
    <!-- 這邊 housingLocation ?.是因為初始值並沒有這些屬性，後面Inject注入進來的資訊 -->
    <img class="listing-photo" [src]="selectLocationItem?.photo"
      alt="Exterior photo of {{selectLocationItem?.name}}"/>
    <section class="listing-description">
      <h2 class="listing-heading">{{selectLocationItem?.name}}</h2>
      <p class="listing-location">{{selectLocationItem?.city}}, {{selectLocationItem?.state}}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{selectLocationItem?.availableUnits}}</li>
        <li>Does this location have wifi: {{selectLocationItem?.wifi}}</li>
        <li>Does this location have laundry: {{selectLocationItem?.laundry}}</li>
      </ul>
    </section>
    <section class="listing-apply">
      <h2 class="section-heading">Apply now to live here</h2>
      <form [formGroup]="applyForm" (submit)="submitApplication()">
        <label for="first-name">First Name</label>
        <input id="first-name" type="text" formControlName="firstName">

        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" formControlName="lastName">

        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email">

        <button type="submit" class="primary">Apply now</button>
      </form>
    </section>
  </article>
