<p>test-routes works!</p>
<hr>
<ul>
  <li><a  [routerLink]="[ '/testRoutes/test1']">Test1</a></li>
  <li><a  [routerLink]="[ '/testRoutes/test2']">Test2</a></li>
  <li><a  [routerLink]="[ '/testRoutes/test3']">Test3</a></li>
</ul>
<button type="button" [disabled]="isUnchanged">Disabled Button</button>
<button type="button" (click)="isUnchanged = !isUnchanged">切換</button>
<p [ngClass]="classes">[ngClass] binding to the classes property making this blue</p>

<hr>
<ul *ngFor="let item of items" >
  <li>{{item}}</li>
</ul>
<section style="background-color: aqua;">
  <h3>test1內容</h3>
  <app-test1 (test1Emit)="receiveItem($event)">
    <p style="background-color: yellow;">這是外層-單插槽ngContent內容</p>
  </app-test1>
</section>
<hr>
<section style="background-color: aquamarine">
  <h3>test2內容</h3>
  <app-test2>
    <header style="background-color: yellow;">這是外層-多插槽header內容</header>
    <div class="footerTest" style="background-color: yellow;">這是外層-多插槽.footerTest內容</div>
    <div style="background-color: yellow;">這是外層-多插槽p內容</div>
    <div question style="background-color: yellow;">
      Is content projection cool?
    </div>
  </app-test2>
</section>
<router-outlet></router-outlet>
